/* App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.image-container {
  position: relative;
  width: 100%; 
  height: auto;
}

.element {
  width: 100%;
  clip-path: inset(10% 0 15% 0); 
  height: auto; 
  transform: translateY(-10%);
}

.image-text {
  position: absolute;
  top: 35%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: black; 
  font-size: 35px;
  font-weight: bold; 
  font-family: "Inter-Medium", Helvetica;
  padding: 10px; 
}

